<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    </style>
    <title>Url</title>
</head>
<body>
    <h1>welcome to URL shortner</h1>
    <h2>Hello,!</h2>

    <form method="post" action="/url/addurl" >
<label for="Url">Enter your url</label><br>


  <input type="text" name="url" placeholder="www.example.com"><br>
<!-- <label for="pass">Enter Password</label><br>
   <input type="Password" id="pass" placeholder="password@123" name="pass"><br> -->
   <button type="submit">generate</button>
</form>
    
</body>
</html>